
body {
  padding-top: 50px;
  background-color: #032F3B;
  background-image: url("assets/background-temp.png");
  font-family: 'Roboto', 'Ariel', sans-serif;
  color: #043F4F;
}

.page-header {
  margin-top: 20px;
}

.hero {
  padding: 40px 15px;
  text-align: center;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.push {
  margin-top: 25px;
}

.white-text{
  color:white;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    background-color: #00ACC1;
    border-color: #00ACC1;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: #00ACC1;
}

/* Nav */
.navbar {
    min-height: 70px;
    position: fixed;
    background-color: rgba(03, 47, 59, .8);
    z-index: 1;
    color: #fff;
    padding: none;
}

.navbar-brand {
    line-height: 45px;
}

.navbar .badge {
    margin: -18px -10px 0;
    z-index: -10;
}

nav ul {
    float: right;
    padding-right: 5%;
    margin: 2em auto;
}

nav li {
    display: inline;
    padding: .8em;
}

nav li a,
nav li a:visited {
    text-decoration: none;
    color: white;
    transition: all .2s ease-in-out;
}

nav li a:hover {
    color: #00ACC1;

}

nav li .img-circle {
  margin-top: -10px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #066079;
    background-size: 100%;
}

/*Badges*/
.badge {
  background-color: #00ACC1;
}
/*Button Styles*/
.button {
  text-decoration: none;
  font-size: 17px;
  height: 46px;
  line-height: 36px;
  outline: 0;
  padding: 0 2em;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);

}

.btn-outline {
    border: 2px solid #00ACC1;
    background-color: #fff;
    color: #00ACC1;
  }

.btn-outline:hover {
  background-color: #00ACC1;
  color: #fff;
  border: 2px solid #00ACC1;
}

.btn-teal {
  color: #fff;
  background-color: #00ACC1;
  border: none;
}

.btn-teal:hover {
    color: #fff;
    background-color: #058a99;
    border: none;
}

.btn-purple {
  color: #fff;
  background-color: #881A51;
  border: none;
}

.btn-purple:hover {
    color: #fff;
    background-color: #6b1440;
    border: none;
}

.btn-link {
  background-color: none;
  box-shadow: none;
  color: #00ACC1;
}

.btn-link:hover {
  text-decoration: underline;
  color: #058a99;
}

.btn-disabled {
  color: #f0f0f0;
  background-color: #D0D0D0;
  border: none;
}

/* Progress Bars*/
.progress-bar-success {
    background-color: #8BC249;
}

.progress-bar-warning {
    background-color: #F19320;
}

/*alerts*/
.alert-success {
    color: #3c763d;
    background-color: #e7f2d9;
}

.alert-warning {
  background-color: #F2F8E9;
}

.alert-info {
  background-color: #e6fcff;
}


.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: none;
    border-radius: 0px;
}

/* Card Styles */

.card {
  background: #fff;
  padding: 2em;
  margin: 2rem;
  min-height: 100px;
}

.card-color {
  float: left;
  position: relative;
  width: 100px;
}

.cardholder {
  background-color: #ecf0f1;
  width: auto;
  min-height: 400px;
  display: block;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card-3 {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4 {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

/*colors*/
.white-text {
  color: #fff;
}

.purple-text {
  color: #881A51;
}

.purple {
  background-color: #881A51;
  color: #fff;
}

.teal {
  background-color: #00ACC1;
  color: #fff;
}

.navy {
  background-color: #043F4F;
  color: #fff;
}

.indigo {
  background-color: #032F3B;
  color: #fff;
}

.gold {
  background-color: #F19320;
  color: #fff;
}

.green {
  background-color: #8BC249;
  color: #fff;
}

.cream {
  background-color: #F2F8E9;
  color: #043F4F;
}

.black {
  background-color: #000;
  color: #fff;
}

.steel-grey {
  background-color: #404040;
  color: #fff;
}

.grey {
  background-color: #909090;
  color: #fff;
}

.light-grey {
  background-color: #D0D0D0;
  color: #fff;
}

.white {
  background-color: #fff;
  color: #000;
}
